		
	<table  border="1" align="center">
		<caption>Registered Groups</caption>
		<thead class="bg1"> 
			<tr>			
			    <th>Group Name</th>			
			    <th>Description</th>
			    <th>Status</th>
			    <th>PermissionI | PermissionII</th>			 
			 
			 	
			</tr>
		</thead>
		<tbody>		
			<tr ng-repeat="grp in group">	
			    <td align="center">{{grp.name}}</td>    								
			    <td align="center">{{grp.description}}</td>    				
			    <td align="center">{{grp.status}}</td>
			    <td align="center">{{grp.permission1}}|{{grp.permission2}}</td>
			   <!--  <td align="center"><button type="submit" value="Delete" ng-click="deleteUser(user.userid)">Delete</button></td> -->
			         
		 	</tr>		 
		</tbody>
	</table>  


<div class="home"><a href="#admin" class="btn btn-success">Back to Admin</a></div>