<div id="usrreg">
    <form id="userregister" name="userform" ng-controller="addUserCtrl" ng-submit="saveUser()">
		<h2 class="bg1">User Registration</h2>
		<fieldset>
			<label>First Name</label> 
			<input type="text" name="name" ng-model="newuser.name" placeholder="First Name" pattern="[A-Za-z _]*"  required/>
        </fieldset>        
		<fieldset>	
			<label>Email:</label>
			<input type="email" name="email" ng-model="newuser.email" placeholder="Email Id" required/>
			<div id="usererror"><span class="error" ng-show="userform.email.$error.email">Not Valid Email!</span></div>
		</fieldset>
		<div id="hide">
		<fieldset>	
			<label>Password:</label>
			<input type="password" name="password" id="p1" ng-model="newuser.password" placeholder="Password" required/>
		</fieldset>
		<fieldset>	
			<label>Confirm Password:</label> 
			<input type="password" name="confirmpwd" id="p2" ng-model="newuser.confirmpwd" placeholder="Confirm Password" required/>
		</fieldset>
		</div>
		<fieldset>	
			<label>Gender:</label><div id="usrgender">
			<input type="radio" name="gender" ng-model="newuser.gender" value="M" required ng-click="checkpwd()"/>Male
			<input type="radio" name="gender" ng-model="newuser.gender" value="F" required ng-click="checkpwd()"/>Female</div>
        </fieldset>

			<input type="hidden" ng-model="newuser.id" />

		<fieldset>	
			<button type="submit" class="btn-primary" >Submit</button>
			<input type="reset" value="Reset"/>			
		</fieldset>	
    </form>
</div>    
<div class="home"><a href="#" class="btn btn-success">Home</a></div>